# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# dotenv environment variables file
.env

# macOS system files
.DS_Store

# IDE or Editor folders
.vscode/
.idea/

# Logs
logs/
*.log
